body {
    background: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-size: x-large;
}
p {
    color: #C89A32;
}
.main {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.maintenance {
    display: flex;
    flex-direction: column;

}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.lilargan {
    background-image: url('./assets/lilargan.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 600px;
}

@media screen and (max-width: 640px) {
    .main {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
}

@media screen and (min-width: 1400px) {
    .main {
     margin-top: 3rem;
       
    }
    .lilargan {
        width: 600px;
        height: 800px;
    }
}